{{#if session.isLoggedIn}} {{! Display user name and logout button}}
	<p class="auth-form">
		<div class="auth">Hello {{session.username}}</div>
		<button type="button" class="btn btn-default" {{action 'logout'}}>Log out</button>
	</p>

{{else}}

	<p>

	<button type="button" class="btn btn-default" {{action 'login'}}>Login</button>
	</p>


{{/if}}
