<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      {{#link-to 'application' class="navbar-brand"}}
      Simple
      {{/link-to}}

    </div>
    <div class="nav-login">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{auth-manager}}
        </li>
      </ul>

  </div>
  </div>
</nav>