<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      {{#link-to 'application' class="navbar-brand"}}
      Simple
      {{/link-to}}

    </div>
  </div>
</nav>
<div class="container">
  Put stuff here
</div>