

<div class="page-header">
  <h1>Diet Home<br><small>Meal Logging</small></h1>
</div>


<form action="saveMeal">
  <ul class="meallog">
    <br>
    <li>
      Meal Title: <input type="text" class="button" value=title/> <!--enter="someAction"-->
    </li>
    <li>
      Meal Date/Time: <input type="date" class="button" value=mealday/>
      <!--http://sul.im/ember-cli-bootstrap-datepicker/-->
    </li>
    <li>
      Allow as many food items as the user wants to enter<br>
      Item 1: <input type="text" value=MenuItem class="button">    <input type="button" class="button" value="Add Item"/>
    </li>
    <li>
      <br>
      <input type="button" class="button" value="Submit"/>
    </li>
    <br>
  </ul>
</form>
View Meals for the day/week
Waiting for update of ember-calendar for 2.8

<div class="page-header">
  <h1><small>Calendar</small></h1>
</div>
<!--http://www.w3schools.com/howto/howto_css_calendar.asp-->



{{outlet}}
