

<div class="page-header">
  <h1>Diet Home<br><small>Meal Logging</small></h1>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Log-a-Meal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Meal</h4>
      </div>
      <div class="modal-body">
        <form action="saveMeal">
          <ul class="meallog">
            <br>
              <p>Meal Title:<input type="text" class="button" value="Lunch"> <!--enter="someAction"-->
              <br>
              Meal Date/Time: <input type="date" class="button">
              <br>
              <br>
              <br>
              Item 1: <input type="text" value="Food Item" class="button">    <input type="button" class="btn-info" value="Add Item"/>
              </p>
              <br>
              <input type="button" class="btn btn-info" value="Submit"/>
            <br>
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="page-header">
  <h1><small>Calendar</small></h1>
</div>
<!--http://www.w3schools.com/howto/howto_css_calendar.asp-->



{{outlet}}
