<div class="container-fluid">
	<h1 align="center">Welcome to SimpleFit!</h1>
	{{#slick-slider autoplay=true arrows=true slidesToShow=3 slidesToScroll=1 dots=true autoplaySpeed=2000}}
	  <div class="box"> <img src="https://www.mountainsidefitness.com/wordpress/wp-content/uploads/2016/10/Fitness-Manufacturer-Looking-for-Models.jpg" style="width:100%;height:100%;"> </div>
	  <div class="box"> <img src="https://img.grouponcdn.com/deal/nfxcCRuxaxCn14evCjy9/kT-960x576/v1/c700x420.jpg" style="width:100%;height:100%;"> </div>
	  <div class="box"> <img src="https://digbr.com/wp-content/uploads/2015/10/Fitness-10-28.jpg" style="width:100%;height:100%;"> </div>
	  <div class="box"> <img src="http://megavogue.com/wp-content/uploads/2016/10/fitness.jpg" style="width:100%;height:100%;"> </div>
	  <div class="box"> <img src="https://static.pexels.com/photos/17840/pexels-photo.jpg" style="width:100%;height:100%;"> </div>
	  <div class="box"> <img src="http://g02.a.alicdn.com/kf/HTB1Sf6qIFXXXXbWXFXXq6xXFXXXW/Sports-font-b-fitness-b-font-models-Andreia-Brazier-dumbbells-font-b-gyms-b-font-athletic.jpg" style="width:100%;height:100%;"> </div>
	  <div class="box"> <img src="http://www.completehealthnews.com/wp-content/uploads/2016/09/fitnesss.jpg" style="width:100%;height:100%;"> </div>
	  <div class="box"> <img src="http://blueprintfitnessatlanta.com/wp-content/uploads/2016/07/iStock_000025435822Large.jpg" style="width:100%;height:100%;"> </div>
	{{/slick-slider}}
</div>
