<!-- Eventually add some if statements -->
<form class="form-group" {{action "login" on="submit"}}>
  <div class="form-group">

    <div class="col-md-4 col-md-offset-4">
      <label>Username</label>

      {{input value=username class="form-control" type="text"}}

      <label>Password</label>


      {{input value=password class="form-control" type="password"}}
      <br>
      <button type="submit" class="btn">Log in!</button>

    </div>


  </div>

</form>
