{{#if success}}
	<h1>Welcome {{content.user.username}}!</h1>
{{else}}
{{!-- Maybe a table with three options? Maybe a modul(sp?) instead? --}}
<div class=""><h1> Register as client</h1>
{{#link-to "cregister"}}Here{{/link-to}} <h4></h4>
</div>
<div class=""><h1> Register as trainer</h1>
{{#link-to "tregister"}}Here{{/link-to}} <h4>(Works)</h4>
</div>
<div class=""><h1> Register as dietitian</h1>
{{#link-to "dregister"}}Here{{/link-to}} <h4>(In progress)</h4>
</div>

{{/if}}