<h2>Test component:</h2> 

{{#if (eq auth.user.basicprofile.membertype "trainer")}}




{{#each auth.user.basicprofile.trainerprofile.trainerpending as |clientprofile|}}
	
	<table class="table">
	<div class="container-fluid">
	{{request-list client=clientprofile}}
  	

	

    
   	</div>

   	</table>
  

{{/each}}

{{!-- {{/each}} --}}

{{else}}
You must login as trainer to view trainer trainer notifications

{{/if}}
