<style>
.main {
     margin: 0 auto;
     text-align: center;
     height: 100%;
}
</style>

<div class="main">
    <iframe id='iframechat' src="https://appear.in/secwebdev{{auth.user.basicprofile.clientprofile.id}}" width="1024" height="720" frameborder="0"></iframe>
</div>
<!-- UPDATE APPEAR TO BE DYNAMIC WITH TRIANER USER NAME OR SPECIAL ID-->
{{outlet}}
