

/* navbar */
.navbar-default{
    background-color: #2E94EA;
    color: white;
}

.nav-login{
  padding-top: 10px;
  padding-right: 10px;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
}

.auth{
  color: white;
  display: inline;
}

.navbar-default .navbar-header .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-header .navbar-brand:visited {
    color: #d6d6d6;

}

.navbar-default .navbar-header .navbar-brand:visited:hover {
    /*color: #d6d6d6;*/
    color: white;
}

body{
  padding-top: 60px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

ul.meallog {
    border: 1px solid black;
    background-color: #4169E1;
    color: white;

}

.wrap {
  min-height: 100%;
  background-color: white;
}

.margin33{
  margin-top: 55px;
}


/* client grid */
ul.block-grid-3 {
   display: block;
   overflow: hidden;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
ul.block-grid-3 > li {
   width: 25%;
   float: left;
   padding: 0 12px 12px;
   display: block;
   height: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
ul.block-grid-3 > li:nth-of-type(4n+1) {
   clear: left;
}

button:focus {
 outline:0;
}